# ------------------------------------------------------------
# Terraform CI/CD Pipeline
#
# 1. Runs Checkov security scan on every push and pull request.
# 2. Fails the workflow only if HIGH severity findings are detected.
#    (Medium and lower findings do NOT block deployment.)
# 3. Uploads SARIF results to GitHub Security tab. | !!!!! VERIFY AND ADD SARIF TO ACTIONS UI WORKFLOW INSTEAD !!!!!
# 4. If the scan passes and the event is a push to main:
#    - Authenticates to AWS using OIDC
#    - Runs Terraform init, validate, plan
#    - Automatically applies the approved plan
#
# This ensures infrastructure is deployed only when
# no HIGH security issues are present.
# ------------------------------------------------------------
name: terraform-ci-cd

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  pull-requests: write
  security-events: write

env:
  TF_LOG: INFO
  AWS_REGION: ${{ secrets.AWS_REGION }}

jobs:

  # =========================
  # SECURITY SCAN
  # =========================
  scan:
    name: Checkov Scan
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          output_format: cli,sarif
          output_file_path: console,results.sarif
          # Without hard_fail_on the workflow will fail with any findings
          #hard_fail_on: LOW # THIS IS NOT WORKING | IT STILL PASSES WITH FINDINGS --> NEED TO FIX !!! #CRITICAL, HIGH, MEDIUM, LOW, INFO
          #fail_on_error: true

      - name: Upload SARIF as artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: checkov-sarif
          path: results.sarif

      - name: Upload SARIF
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif


  # =========================
  # TERRAFORM DEPLOY
  # =========================
  deploy:
    name: Terraform Apply
    runs-on: ubuntu-latest
    needs: scan
    if: needs.scan.result == 'success' && github.ref == 'refs/heads/main' && github.event_name == 'push'

    defaults:
      run:
        shell: bash
        working-directory: .

    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials from AWS account
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-session-name: GitHub-OIDC-TERRAFORM

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14

      - name: Terraform Init
        env:
          AWS_BUCKET_NAME: ${{ secrets.AWS_BUCKET_NAME }}
          AWS_BUCKET_KEY_NAME: ${{ secrets.AWS_BUCKET_KEY_NAME }}
        run: |
          terraform init \
            -backend-config="bucket=${AWS_BUCKET_NAME}" \
            -backend-config="key=${AWS_BUCKET_KEY_NAME}" \
            -backend-config="region=${AWS_REGION}"

      - name: Terraform Validate
        run: terraform validate -no-color

      - name: Terraform Plan
        run: terraform plan -no-color -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false tfplan